/* color legend
light blue:#c8eaef
grey lettering:#65696e
dress logo:#90d6e0
hover:#929191
------------------------------- */
ul, ol { list-style:none; }
#fb-bottom, #fb-bottom_contact	{ width:964px; text-align:center; padding:0 0 100px 144px; margin:-40px auto 0 auto; height:16xp; }
#social_wrap 	{ width:964px; margin:0 auto; clear:both; height:34px; margin-top:-36px; }
#social_wrap_about 	{ width:964px; margin:0 auto; clear:both; height:34px; margin-top:6px; }
#social { width:480px; margin:0 auto; height:32px; padding:0px; }
#social ul { display:block; }
#social ul li { list-style:none; display:inline-block; }
#fbBox	{ width:175px; height:28px; margin-left:5px; padding-top:5px; vertical-align:bottom; }
#gpBox	{ width:24px; height:25px;  margin-left:175px; vertical-align:bottom; }
#fb-bottom_contact { margin-right:164px;  }
#fb-topSlide { width:964px; padding:0 0 120px 200px; margin-top:-24px; float:right }

/* text
------------------------------- */
p, #topnav, #list, label, #topnav_index { font-family: Helvetica, Verdana, Geneva, sans-serif; }
.tilda { color:#be321f; }

/* containers
------------------------------- */
* { margin:0; padding:0; }
body { background:#c8eaef; height:100%; }
#index, #about, #custom, #classic, #couture, #contact {  }
.subtle { font-family: Helvetica, Consolas, Courier, monospace; font-size: 12px; text-shadow: 0 0 0 #000; }

html, body	{ background-color:#c8eaef; }
#wrap 		{ width:964px; margin:0 auto;  }
#outer 		{ width:964px; margin:0 auto; height:64px; }
#current 	{ }

#top 			{ width:900px; margin:0 auto; height:76px; }
#co_name 		{ float:left; margin:7px; }
#contentlayer 	{ clear:both; width:auto; margin:36px auto 16px auto; }
#context, #context_custom 		{ float:left; width:430px; margin:0 auto; }/*margin-left:48px; } */

#context p, #context_about p, #context_classic p, .contact_centered, 
	.map_link p, #contact_number, .comments	{ font-size:15px; font-style:oblique; color:#65696e; line-height:160%; font-weight:500; }
#context_custom p { font-size:15px; font-style:oblique; color:#65696e; line-height:130%; font-weight:500; margin-top:0px; margin-bottom:-7px;}
	
#context p.lg, #context_custom p.lg		{ font-size:16px; font-weight:800; font-style:oblique; }
#photos, #photos_classic 	{ float:none; text-align:right; margin:0 auto; }/*padding-right:64px; }*/
#footer 					{ width:964px; text-align:center; margin:0 auto; padding:12px 0; height:42px; }
#footer p 					{ color:#65696e; font-size:13.5px; } 

.clr 			{ clear:both; }
.border 		{ border:solid 2px #f00; }
.border_green 	{ border:solid 2px green; }
.border_blue 	{ border:solid 2px blue; }
.left 			{ float:left; }
.right 			{ float:right; }

#contentWrap { width:848px; margin:0 auto; }

/* index 
------------------------------- */
#wrap_index 		{ width:100%; }
#container_index	{ width:1150px; margin:0 auto; }
#index_center		{ width:1100px; margin:0 auto; height:664px; }
.saleText     		{ text-align:center; color:#65696e; font-size:16pt; font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Helvetica, Arial, sans-serif; font-style:oblique; }
#sale				{ text-align:center; color:#65696e; font-size:48pt; margin-top:10px; font-family: 'French Script MT', 'Bradley Hand ITC', 'Monotype Corsiva', 'Times New Roman', Times, serif; font-style:oblique; text-decoration:underline; }
#index_link_about	{ margin:28px 0px 3px 250px; width:300px; }
#index_logo			{ width:546px; margin:64px 0 0 0; height:355px;  }
ul#index_logo		{ margin:0 15px 5px 15px; }
ul#index_logo li	{ margin:0 0 5px 0; padding:5px; display:inline; float:left; clear:both; /* color:#aaa; background:url('../img/bg-black.png'); */ font:11px Helvetica, Arial, sans-serif; }
#mapArea a, #map a:link	{ background-image:url("../img/index/googlemaps.png"); width:392px; height:259px; display:block; text-index:-999em; margin:0; padding:0; border:none; }

#map a:hover { background-position:0 -265px;}  

/* about 
------------------------------- */
#box 				{ width:710px; margin:36px auto 16px auto; padding:5px; }
#content_about 		{ width:300px; margin:0 auto; }
#context_about		{ float:left; padding:5px; text-align:center; margin:10px 2px 0 -7px; width:300px; }
#context_about hr   { height:10pt; visibility:hidden; }
#context_about p  	{ line-height:140%; }
#context_about p.lg	{ font-size:20px; font-weight:400; font-style:normal; }

#btm_img 			{ }
#adjust_right 		{ text-align:right; }

/* nav 
------------------------------- */
div.hr 				{ padding:10px; height:5px; border:1px; color:#f00; }
#topnav_og			{ float:left; margin:0 auto; clear:left; width:auto; }
#topnav				{ float:left; margin:0 auto; clear:left; width:100%; height:25px; background:url('../img/bg_nav.png') repeat-x; }
#topnav_index		{ float:left; margin:0 auto; clear:left; width:100%; position:absolute; }
#index				{ margin:0; text-align:left; height:24px; background:url('../img/bg_nav.png') repeat-x; z-index:999; padding-left:50px; }
#index ul li a 		{ padding:18px; } 
#contact_number		{ float:right; margin:0; font-size:13px; font-style:normal; font-weight:bold; padding-right:10px; padding-top:2px; }
#phone_icon			{ padding-bottom:7px; }
						
#topnav ul			{  }
#topnav ul li, #topnav_index ul li			{ display:inline; }
#topnav ul li a, #topnav_index ul li a		{ padding-left:10px; text-decoration:none; font-size:11px; }

#topnav a:link, #topnav a:visited, #footer a:link, #footer a:visited, #topnav_index a:link, #topnav_index a:visited	{ color:#65696e; }
#topnav a:hover, #footer a:hover, #topnav_index a:hover  { text-decoration:underline; color:#65696e; }
#topnav a:active, #footer a#mailto:hover, #topnav_index a:active 	{ color:#90d6e0; text-decoration:none; }

#footer a.fb, #slidecaption a.fb		{ text-decoration:none; font-size:26px; font-family:arial, Verdana, Geneva, sans-serif; }
#footer 			{ padding-bottom:36px; }
#index a#indexnav,
#about a#aboutnav,
#custom a#customnav,
#classic a#classicnav,
#couture a#couturenav,
#contact a#contactnav {
	text-decoration:underline;
}
#slidecaption .fb, #slidecaption a.fb	{ color:#65696e; font-size:20px; }
#mailto 			{ color:#65696e; border-bottom:1px dotted #65696e; text-decoration:none; }
#footer a#mailto:hover, #footer a:hover 	{ text-decoration:none; color:#90d6e0; }

/* classic
------------------------------- */
#contentlayer_classic 	{ clear:both; width:964px; margin:36px auto 16px auto; }
#context_classic 		{ float:left; width:340px; margin:0 auto; }
#context_classic p 		{ line-height:155%; }

/*couture list
------------------------------- */
#list 			{ font-size:14px; color:#65696e; margin-left:30px; font-style:oblique;line-height:145%; list-style-image:url('../img/leafBullet.png'); }
						
#list ul		{  } /* &#9656 */

/* contact
------------------------------- */
#contactcontent_og 	{ width:940px; margin:48px auto 16px auto; height:360px; }
#contactcontent 	{ width:964px; margin:36px auto 16px auto; height:360px; }
#contactWrap		{ width:848px; margin:0 auto; height:360px; }
#contact_bottom 	{ width:964px; margin:0 auto 16px auto; height:370px; }
#contactform 		{ width:322px; height:356px; }
.contact_centered 	{ text-align:center; margin-top:20px; font-style:normal; font-size:18px; font-weight:400; }

#hours				{ width:230px; height:356px; }
#hours p 			{ text-align:center; font-size:14px; color:#65696e; padding:24px 0; }
.forms				{ width:310px; float:left; }

label 	{ 
		float:left; width:75px; margin-top:5px; padding-right:3px;
		text-align:right; background:none; font-weight:500; color:#65696e;
}
.contact_input 	{ 
		width: 150px; margin:0 0 16px 5px;
		border:1px #bbb solid; padding:5px; background:#fff; 
}
.textarea_contact {
		width: 200px; height: 75px; margin:0 0 16px 5px;
		border:1px #bbb solid; padding:5px; background:#fff; 
}
form	{ text-align:left; margin:7px 2px; }
form ol { list-style-type:none; margin:24px 5px; }
.submit { width:120px; height:25px; margin:0 auto; font-size:12px; }
		
input:focus, textarea:focus	{ background-color:#90d6e0; }

.forms li {
  overflow: hidden;
  list-style-type:none;
}

em.error {
  clear: both; display: block;
  font-size: 12.5px; font-style:italic; color:#65696e;
  margin: -10px 0 10px 160px; width:200px;
}

input, textarea	{ padding:5px; }

#google_map { margin:50px 0 0 28px; height:300px; text-align:center; width:500px; }
.map_link 	{ margin:28px auto; width:410px; clear:right; height:20px; text-align:center; }
.map_link p { font-style:normal; color:#65696e; }
.map_link a { text-decoration:none; font-weight:bold; color:#65696e; font-style:oblique; }
.map_link a:hover { text-decoration:underline; }
.comments 	{ width:445px; margin:0 auto 10px auto; padding:8px; height:310px; text-align:center; }
.comments a { color:#65696e; font-style:normal; font-weight:bold; }
#left_photo 	{ margin-left:0; }
#right_photo	{ margin-right:0; }

/* headers
------------------------------- */
h1, h2, h3, h4, h5, h6 { font-weight: bold; color: #000; }

h1 { font-size:24px; }
h2 { font-size:20px; }
h3 { font-size:16px; }

.shadow { -moz-box-shadow: 0 0 1px #888;
-webkit-box-shadow: 0 0 1px #888;
box-shadow: 0 0 1px #888; }




