
#topslide{
    width:100%;
	min-width:1000px;
    position: relative;
	/*background-color:#90d6e0;*/
	background: url(../img/index/topScan.png) repeat;
    height: 416px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    display: none;
    z-index: 999;
	font-family: "Tahoma", "Arial", sans-serif;
	font-size: 12px;
	margin:0 auto;
	background-position:center;
}
#panel{
    width: 964px; 
    position: relative;
    margin: 0 auto;
    left: 0px;
	height:360px;

}
.contactinfo{
    width: 100%;
    position: relative;
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
}
.locationhello{
    position: relative;
    width: 1050px; 
    margin: 0 auto 33px;
    top: 8px;
}
.locationhello h4{
    font-size: 22px;
    color: #7E9046;
    font-weight: 400;
}
.loc{
    position: relative;
    float: left;
    left: 0;
}

.greeting{
    position: relative;
    float: right;
    right: 384px;
}
.info{
    position: relative;
    float: left;
    width: 150px;
    height: 245px;
    left: 0;
    top: 15px;
}
.subs{
    position: relative;
    float: left;
    width: 160px;
    height: auto;
    margin-bottom: 15px;
}
.titleinf{
    color: #000;
	font-weight:700;
}
.subs p{
    color: #65696e;
    line-height: 14px;
    padding-top: 1px;
}
.subs a{
    color: #65696e;
    text-decoration: none;  
}
.evlp{
    position: relative;
    top: 5px;
}
.googlemap{
    width: 392px;
    height: 262px;
    position: relative;
    float: left;
    top: 20px;
    left: 35px;
}
.mapimg{
    width: 392px;
    height: 261px;
    position: relative;
    float: left;
    background: url(../img/index/googlemaps.png);
    background-position: 0 0;
    display: block;
}
.mapimg span.hover{
    width: 392px;
    height: 260px;
    position: relative;
    float: left;
    background: url(../img/index/googlemaps.png);
    background-position: 0px -264px; 
    display: block;
}
.linedivider{
    width: 2px;
    height: 213px;
    position: relative;
    float: left;
    margin: 48px 16px 0 48px;
    background: url(../img/index/dividertop.png) no-repeat;
}
/** start Form **/
.contactform{
    width: 352px;
    height: 248px;
    position: relative;
    float: left;
    top: 0;
}
.contactform ul.form{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
	
}
.contactform ul.form li{
    width: 352px;
    height: 28px;
    position: relative;
    color: #000;
	
}
.contactform ul.form input{
    background: none repeat scroll 0 0 #1F1E1E;
    border-color: #000000 #000000 #383737;
    border-style: solid;
    border-width: 1px;
    color: #696969;
    float: left;
    font-family: "Tahoma","Arial",sans-serif;
    font-size: 12px;
    height: 18px;
    letter-spacing: 0.1px;
    padding: 3px;
    position: relative;
    width: 345px;
	z-index:100;
}
.contactform ul.form input:focus{
    background: #363636;
    color:#b5b5b5;
    border-bottom: 1px solid #454545;
}
.contactform ul.form .message{
    width: 345px;
    height: 75px;
    position: relative;
    float: left;
    background: #1f1e1e;
    border-bottom: 1px solid #383737;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    color: #696969;
    padding: 3px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 12px;
}
/** Form validation **/
.form_error{
    color:#000066;
    display: block;
    float: left;
    font-size: 11px;
    height: auto;
    left: 0;
    letter-spacing: 0.3px;
    padding: 5px;
    position: relative;
    width: 100%;
	font-weight:bold;
}

.form_success{
    color: #14af08;
    font-size: 11px;
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    font-style: italic;
    display: block;
    padding: 10px 0 10px 0;
}
.contactform ul.form .button{
    width: 90px;
    height: 30px;
    position: relative;
    float: left;
    border: none;
    background: url(../img/index/btnsend.png) no-repeat top;
    background-position: 0 0;
    top: 0;
    display: block;
    left: 0;
}
.contactform ul.form .button span.hover{
    width: 90px;
    height: 30px;
    position: absolute;
    border: none;
    background: url(../img/index/btnsend.png) no-repeat bottom;
    top: 0;
    cursor: pointer;
    display: block;
}
/** end Form **/
#topsection {
    width: 100%;
    height: 1px;
    background: #000;
	clear:both;
}
.btntopslide{
    width: 600px;
    height: 30px;
    margin: 0;
}
#toggle{
    position: relative;
    float: right;
    width: 59px;
    height: 30px;
    z-index: 999;
    list-style: none;
}
.open{
    position: relative;
    float: left;
    width: 59px;
    height: 30px;
    background: url(../img/index/letter.png) no-repeat;
    background-position: 0 0;
    display: block;
    top: -1px;
}
.close{
    position: relative;
    float: left;
    width: 59px;
    height: 30px;
    background: url(../img/index/openletter.png) no-repeat;
    background-position: 0 0;
    display: block;
    top: -19px;
}

-------------------------------

a:focus {
    outline:none;
}
a:active {
    outline:none;
}
a {
    text-decoration:none;
}
h1 {
  font-size: 25px;
  color: #0597D4;
  font-weight: 400;
}

h2 {
  font-size: 23px;
  color: #0597D4;
  font-weight: 400;
}

h3 {
  font-size: 21px;
  color: #0597D4;
  font-weight: 400;
}

h4 {
  font-size: 19px;
  color: #0597D4;
  font-weight: 400;
}

h5 {
  font-size: 17px;
  color: #0597D4;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  color: #0597D4;
  font-weight: 100;
  padding-bottom: 2px;
}

