/*
Skin Name: Orman Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: fixed
Description: A light and green skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom & Orman Clark
Author URI: http://dev7studios.com
*/

.theme-belo.slider-wrapper {
    width:540px;
    height:334px;
    margin:64px 0 0 0;
    padding-top:0px;
	float:right;
}
.theme-belo .nivoSlider {
    position:relative;
    width:540px;
    height:334px;
    margin-left:0px;
    background:url(progress.gif) no-repeat 50% 50%;
}
.theme-belo .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
    width:540px; /* Make sure your images are the same size */
    height:334px; /* Make sure your images are the same size  */
} 

.theme-belo .nivoSlider a {
    border:0;
    display:block;
}

.theme-belo .nivo-controlNav {
    position:absolute;
	left:50%;
	bottom:-60px;
    margin-left:-30px; /* Tweak this to center bullets */
}
.theme-belo .nivo-controlNav a {
    display:block;
    width:10px;
    height:10px;
    /*background:url(bullets.png) no-repeat; */
    text-indent:-9999px;
    border:0;
    margin-right:7px;
    float:left;
}
.theme-belo .nivo-controlNav a.active {
    background-position:0 -10px;
}

.theme-belo .nivo-directionNav a {
	display:block;
	width:25px;
	height:200px;
	/*background:url(arrows.png) no-repeat 0% 50%;*/
	text-indent:-9999px;
	border:0;
    top:40px;
}
.theme-belo a.nivo-nextNav {
	background-position:100% 50%;
	right:-40px;
    padding-right:20px;
}
.theme-belo a.nivo-prevNav {
	left:-40px;
    padding-left:20px;
}

.theme-belo .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-belo .nivo-caption a { 
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-belo .nivo-caption a:hover { 
    color:#fff;
}
